<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fetch API</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <div class="container text-center">
            <h2>Fetch API GET REQUEST</h2>
            <h3>Fetching Users</h3>

            <button class="btn-primary" onClick="postData()">Save</button>
        </div>
        <div class="container text-center">
            <div>
                <h1>User List</h1>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Post Id</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Body</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="user : ${listUser}">
                            <tr>
                                <td>[[${user.postId}]]</td>
                                <td>[[${user.id}]]</td>
                                <td>[[${user.name}]]</td>
                                <td>[[${user.email}]]</td>
                                <td>[[${user.body}]]</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        //  main.js
        function postData() {
            //  GET request using fetch()
            fetch("https://jsonplaceholder.typicode.com/posts/1/comments")
                // Converting received data to JSON
                .then((response) => response.json())
                .then((json) => {
                    let options = {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json;charset=utf-8",
                        },
                        body: JSON.stringify(json),
                    };

                    // Fake api for making post requests
                    let fetchRes = fetch("http://localhost:8080/user/save", options);
                });
        }

    </script>
    <!-- <script src="/src/main/resources/static/postFetch.js"></script> -->
</body>

</html>